.orderResult {
  width: 100vw;
  height: 100%;
  padding: 8em 20em;

  li {
    list-style: none;
  }

  .orderText {
    h1 {
      font-size: 2.5em;
    }

    .thanksText {
      font-size: 1.3em;
      padding: 2em 0;
      line-height: 1.7em;
    }
  }

  .orderNumberBox {
    border: 1px solid black;
    padding: 1em 2em;
    margin-bottom: 1em;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
  }

  .orderInfoBox {
    border: 1px solid black;
    padding: 0.7em 0;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;

    .orderItemBox {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
      width: 50em;
      margin: 0 auto;

      li {
        list-style: none;
        padding: 1em;
      }
    }

    .orderItemBox2 {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 50em;
      margin: 0 auto;
    }

    .row {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
    }

    .column {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      li {
        width: 10em;
      }
    }
    .orderNumberBox2 {
      margin-top: 1em;
      padding: 1em 2em;
      display: flex;
      justify-content: space-around;
      font-size: 1.4em;
    }
  }

  .orderUserInfoBox {
    border: 1px solid black;
    padding: 2em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .orderUserInfo {
      display: flex;
      flex-direction: column;
      li {
        padding: 1.5em 0;
      }
    }
  }
  .orderUserInfoBox2 {
    border: 1px solid black;
    padding: 2em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .orderUserInfo {
      display: flex;
      flex-direction: column;
      li {
        padding: 1.5em 0;
      }
    }
  }

  .deliveryBox {
    padding: 3em 0;
    display: flex;
    flex-direction: row;

    .deliveryInfoBox {
      h4 {
        padding: 0.7em;
      }
    }
  }
  .gotoHomeBox {
    display: flex;
    flex-direction: row-reverse;

    .gotoHome {
      align-items: center;
      margin-bottom: 3.5em;
      background-color: #333;
      color: white;
      height: 4em;
      width: 16em;
    }
  }
}
