.Main {
  padding: 78px 0 100px;

  .container {
    .mainVisual {
      display: flex;
      height: 35em;
      background-color: #f6f5e8;

      .left {
        display: flex;
        width: 50%;
        padding: 6em 3em 0;

        .logo {
          width: 8em;
          margin-right: 5.5em;

          img {
            display: block;
            max-width: 100%;
          }
        }

        .text {
          margin-top: 3em;

          p {
            color: #333;
            font-size: 2em;
          }

          p:nth-child(2) {
            font-size: 2.5em;
            font-weight: 600;
            margin: 0.3em 0;
          }
        }
      }

      .right.bgImg {
        width: 50%;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }

    .mainContents {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div {
        [class^='mainContetnSlide'] {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 10em 5em 0;

          .text {
            max-width: 25%;
            color: #333;
            letter-spacing: 0.05em;

            p {
              line-height: 1.3em;
            }

            .discriptTitle {
              font-size: 1.7em;
              font-weight: 600;
            }

            .discriptText {
              margin: 1.5em 0;
            }

            .itemStory {
              font-size: 1.2em;
            }

            .textButton {
              button {
                cursor: pointer;
                margin-top: 1.5em;
                padding: 1em 2.2em;
                border: 1px solid #333;
                background: none;
                font-size: 1.5em;
                text-decoration: none;
                color: #333;
                span {
                  margin-right: 1em;
                }
              }
            }
          }

          .slideBox {
            position: relative;

            .productBox {
              display: flex;
              width: 1200px;
              overflow: hidden;

              .product {
                width: 25em;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: 3em;
                transition: 0.5s ease;

                img {
                  width: 200px;
                }

                p {
                  margin: 1em 0 0.2em;
                  font-weight: 600;
                }
              }

              .product:first-child {
                padding: 0;
              }
            }

            .slideBtn {
              cursor: pointer;
              opacity: 0;
              position: absolute;
              width: 70px;
              height: 70px;
              top: 35%;
              border: none;
              background: #333;
              color: #fffef2;
              z-index: 999;

              .slideBtnArrow {
                font-size: 30px;
              }
            }
            .prevBtn {
              left: 0;
            }
            .nextBtn {
              right: 0;
            }
          }

          .slideBox:hover {
            .slideBtn {
              transition: all 0.3s;
              opacity: 0.9;
            }
          }

          .slideBox:not(:hover) {
            .slideBtn {
              transition: all 0.3s;
              opacity: 0;
            }
          }
        }

        .mainContetnSlide01 {
          .slideBox {
            .productBox {
              .product {
                img {
                  width: 300px;
                }
              }
            }
          }
        }

        [class^='mainCotentScene'] {
          display: flex;
          width: 100%;
          padding-top: 10em;

          .sceneBox {
            display: flex;
            width: 60%;

            .scene {
              width: 120%;
              height: 40em;
              margin-right: 3em;

              img {
                display: block;
                width: 100%;
                height: 100%;
              }
            }
          }

          .text {
            max-width: 30%;
            color: #333;
            letter-spacing: 0.05em;

            p {
              line-height: 1.3em;
            }

            .discriptTitle {
              font-size: 1.7em;
              font-weight: 600;
            }

            .discriptText {
              margin: 1.5em 0;
            }

            .itemStory {
              font-size: 1.2em;
            }

            .textButton {
              button {
                cursor: pointer;
                margin-top: 1.5em;
                padding: 1em 2.2em;
                border: 1px solid #333;
                background: none;
                font-size: 1.5em;
                text-decoration: none;
                color: #333;
                span {
                  margin-right: 1em;
                }
              }
            }
          }
        }
      }
    }
  }
}
