.Main {
  padding-top: 75px;

  .container {
    .mainVisual {
      display: flex;
      background-color: #f6f5e8;
      .left {
        display: flex;
        width: 50%;
        padding: 6em 3em 0;
        .logo {
          width: 8em;
          margin-right: 5.5em;
          img {
            display: block;
            max-width: 100%;
          }
        }
        .text {
          margin-top: 3em;
          p {
            color: #333;
            font-size: 2em;
          }
          p:nth-child(2) {
            font-size: 2.5em;
            font-weight: 600;
            margin: 0.3em 0;
          }
        }
      }
      .right.bgImg {
        width: 50%;
        img {
          display: block;
          max-width: 69em;
        }
      }
    }

    .mainContents {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .slide {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10em 5em 0;
        .text {
          max-width: 18%;
          color: #333;
          letter-spacing: 0.05em;
          p {
            line-height: 1.3em;
          }
          .discriptTitle {
            font-size: 1.7em;
            font-weight: 600;
          }
          .discriptText {
            margin: 1.5em 0;
          }
          .itemStory {
            font-size: 1.2em;
          }
        }
        .productBox {
          display: flex;
          .product {
            // margin-right: ;
            width: 25em;
            display: flex;
            flex-direction: column;
            padding: 0 3em;
            img {
            }
            p {
            }
            span {
            }
          }
        }
      }
    }
  }
}
